# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
dist/
.eggs/
*.egg-info/

# Virtualenvs / Envs
.venv/
.env/
.env.*

# Poetry / Pip artifacts
.poetry/

# Caches
.mypy_cache/
.pytest_cache/
.coverage
.cache/
.ruff_cache/

# Editor/OS files
.vscode/
.DS_Store

# Output folders
src/gittxt-outputs/
src/gittxt-logs/

# PyInstaller
*.spec

# Gittxt configuration
gittxt-config.json
filetype_config.json
subcategory_config.json
poetry.lock
package-lock.json
gittxt.log

# Frontend UI node modules
node_modules
