[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "gittxt"
version = "1.5.0"
description = "Get Text of Your Repo for AI, LLMs & Docs!"
authors = ["Sandeep Paidipati <sandeep.paidipati@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/sandy-sp/gittxt"
homepage = "https://github.com/sandy-sp/gittxt"
keywords = ["git", "text-extraction", "cli-tool", "AI", "LLM", "NLP", "repository", "machine-learning"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Topic :: Software Development :: Version Control :: Git",
    "Topic :: Text Processing :: Linguistic",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Scientific/Engineering :: Information Analysis",
]

packages = [
    { include = "gittxt", from = "src" }
]

include = [
    "README.md",
    "LICENSE",
    "pyproject.toml",
    "MANIFEST.in",
    "src/gittxt/**/*.py",
    "src/gittxt-logs/**",
    "src/gittxt-outputs/**"
]

exclude = [
    "tests/**",
    ".github/**",
    ".vscode/**",
    ".pytest_cache/**",
    "docs/**"
]

[tool.poetry.dependencies]
python = "^3.8"
click = "^8.1.3"
gitpython = "^3.1.40"
colorama = "^0.4.6"
python-dotenv = "^1.0.0"
binaryornot = "^0.4.4"

[tool.poetry.dev-dependencies]
pytest = "^7.0"
pytest-mock = "^3.0"

[tool.poetry.scripts]
gittxt = "gittxt.cli:main"
